.header-container {
  border: 1px solid rgb(235, 237, 240);
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

.modal-footer .submit-button {
  margin-left: 1rem;
}
